name: Build and Release

on:
  push:
    branches: ["main"]
    tags:
      - 'v*' # 监听 v 开头的 tag，例如 v0.1.0

jobs:
  build:
    name: Build Linux Binary
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build Release
        run: cargo build --release

      # 如果只是普通的提交，依然保留 Artifact 供你备用下载
      - name: Upload Artifact
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: actions/upload-artifact@v4
        with:
          name: zz-linux-amd64
          path: target/release/zz

      # 如果你推送了版本号 Tag，则自动发布到 Release 页面
      - name: Publish to GitHub Releases
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/zz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
